@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: 
    local('Raleway Light'), 
    local('Raleway-Light'),
    url('Raleway-Light-webfont.eot') format('embedded-opentype'),
    url('Raleway-Light-webfont.woff') format('woff'),
    url('Raleway-Light-webfont.otf') format('opentype'),
    url('Raleway-Light-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: 
    local('Raleway'), 
    local('Raleway-Regular'), 
    url('Raleway-Regular-webfont.eot') format('embedded-opentype'),
    url('Raleway-Regular-webfont.woff') format('woff'),
    url('Raleway-Regular-webfont.otf') format('opentype'),
    url('Raleway-Regular-webfont.ttf') format('truetype');
  }
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: 
    local('Raleway SemiBold'), 
    local('Raleway-SemiBold'),
    url('Raleway-SemiBold-webfont.eot') format('embedded-opentype'),
    url('Raleway-SemiBold-webfont.woff') format('woff'),
    url('Raleway-SemiBold-webfont.otf') format('opentype'),
    url('Raleway-SemiBold-webfont.ttf') format('truetype');
}