	<footer id="footer">
		
					Coding Club Linz e.V. |
					Birkenweg 16 |  
					4060 Leonding |
					Österreich |
					ZVR 640875187<br/>
					<a href="mailto:info@socrates-conference.at">info@socrates-conference.at</a><br/>
		
	<div>&copy; 2018 - René Pirringer, Elisabeth Rosemann, David Tanzer</div>
  <div>
    <a href="https://www.iubenda.com/privacy-policy/71105132" class="iubenda-white iubenda-embed " title="Privacy Policy">Privacy Policy</a> <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
  </div>
	</footer>
</body>
</html>
