<!DOCTYPE html>
<html lang="{{ .Params.lang }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/skeleton.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/fonts/raleway/raleway.css">
</head>
<body>
  <header>
  	<nav id="language-menu">
  		<a href="/en/home">EN</a>
  		<a href="/de/home">DE</a>
  	</nav>
  
		{{ partial "menu.html" . }}
  </header>

  <div class="container">
