{{ partial "header.html" . }}

{{ if .Params.listing }}

	{{ range .Site.Taxonomies.groups.home.Pages.ByWeight }}
	{{ if eq .Params.lang $.Params.lang }}
	
	
	<section class="section {{ .Params.class  }}">
		{{ if .Params.anchor }}
		<h3><a name="{{ .Params.anchor }}" href='{{ .Permalink }}'>{{ .Title }}</a> </h3>
		{{ else }}
		<h3><a href='{{ .Permalink }}'>{{ .Title }}</a> </h3>
		{{ end }}
		{{ .Summary }}
		{{ if isset .Params "noreadmore" }}
		{{ else }}
		<a href='{{ .Permalink }}'><nobr>{{ ( index $.Site.Data.translations $.Params.lang ).read_more }}
 →</nobr></a>
 		{{ end }}
	</section>
	{{ end }}
	{{ end }}
{{ else }}
	{{ .Content }}
{{ end }}


{{ partial "footer.html" . }}

