{{ partial "header.html" . }}
{{ if .Params.listing }}

	{{ range .Site.Taxonomies.groups.history.Pages.ByWeight }}
	{{ if .Params.bannerimage}}
	<div class="banner-image" style="background-image: url({{ .Params.bannerimage }})"></div>
	{{end}}
	{{ if eq .Params.lang $.Params.lang }}

	{{ partial "section.html" . }}

	{{ end }}
	{{ end }}
{{ else }}
	<div class="container">
    <section>
      <h2>{{ .Title }} </h2>
      {{ .Content }}
    </section>
	</div>
{{ end }}


{{ partial "footer.html" . }}

